@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/open-sans-v34-latin-regular.woff2') format('woff2'),
    url('../fonts/open-sans-v34-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('../fonts/open-sans-v34-latin-600.woff2') format('woff2'),
    url('../fonts/open-sans-v34-latin-600.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/open-sans-v34-latin-700.woff2') format('woff2'),
    url('../fonts/open-sans-v34-latin-700.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local(''),
    url('../fonts/open-sans-v34-latin-800.woff2') format('woff2'),
    url('../fonts/open-sans-v34-latin-800.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local(''),
    url('../fonts/open-sans-v34-latin-italic.woff2') format('woff2'),
    url('../fonts/open-sans-v34-latin-italic.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src: local(''),
    url('../fonts/open-sans-v34-latin-800italic.woff2') format('woff2'),
    url('../fonts/open-sans-v34-latin-800italic.woff') format('woff');
}

:root{
    scroll-behavior: smooth;
}

/* Page */

.page {
    font-family: 'Open Sans' , sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.page__inner {
    display: block;
}

.page__inner_intro{
    padding: 0 1vw;
    padding-top: 29px;
}

.page__inner_grey{
    background-color: #F6F2F2;
}

.page__inner_dark{
    background-color: #2C2C2C;
    margin: 0 auto;
}

.page__inner_section{
    padding: 0 1vw;
    padding-top: 102px;
    padding-bottom: 110px;
    background-color: #F6F2F2;
}

.page__header{
    margin: 0 auto;
}

.page__inner_subscribe{
    padding: 0 1vw;
}

.page__inner_footer{
    padding: 0 1vw;
}

/* Heder */

.header {
    display: flex;
    justify-content: center;
    max-width: 1249px;
    min-height: 89px;
    background-color: rgba(0, 0, 0, 0.8);
}

.stil-menu{
    margin-left: -30%;
}

.stil-menu__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: 339px;
}

.stil-menu__item {
    display: flex;
    min-height: 89px;
}

.sile-menu__link {
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-family: 'Open Sans' , sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #E0E0E0;
    
}

.sile-menu__link:hover {
    background-color: #FF3F40;
}

.stil-menu__link-active {
    background-color: #FF3F40;
}

/* Popup menu */

.popup-menu{
    position: relative;
}

.popup-menu__button{
    display: block;
    width: 156px;
    height: 89px;
    background-image: url('../img/menu_800px.svg');
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    border: 2px solid #FF2D2D ;
}

.popup-menu__list {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.8);
}

.popup-menu__item {
    display: flex;
    min-height: 89px;
}

.popup-menu__link {
    display: flex;
    width: 94px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 0 30px;
    font-family: 'Open Sans' , sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #E0E0E0;
}

.popup-menu__link:hover {
    background-color: #FF3F40;
}

.popup-menu__link-active {
    background-color: #FF3F40;
}


/* Intro */

.intro {
    display: flex;
    flex-wrap: wrap;
    max-width: 1249px;
    margin: 0 auto;
    justify-content: space-between;
}

.intro__info {
    max-width: 595px;
}

.intro__heading {
    font-family: 'Open Sans' , sans-serif;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 800;
    font-feature-settings: "wght" 800;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 19px;
    margin-top: -17px;
    
}

.intro__span_special{
    letter-spacing: 6px;
    overflow-wrap: break-word;
    hyphens: auto;
}

.intro__text {
    font-family: 'Open Sans' , sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 58px;
    
}

.action-link {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 227px;
    padding: 0.5em 1em;
    box-sizing: border-box;
    min-height: 55px;
    font-family: 'Open Sans' , sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 10px;
}


.action-link_red-full{
    background-color: #FF2D2D;
    color: #F6F2F2;
}

.action-link_red-transp{
    color: #FF2D2D;
    background-color: rgba(0, 0, 0, 0.0001);
    border: 2px solid #FF2D2D ;
    margin-bottom: 66px;
    margin-left: 16px;

}

.intro__video {
    display: flex;
    flex-wrap: wrap;
    max-width: 548px;
    min-height: 356px;
    object-fit: cover;
    box-shadow: -2.2px -14px 73px 0px rgba(0, 0, 0, 0.29);
}

/* Services */

.services{
    display: flex;
    flex-wrap: wrap;
    max-width: 1249px;
    margin: 0 auto;
    padding: 0 1vw;
    padding-top: 107px;
    padding-bottom: 47px;
    justify-content: space-between;
    border-bottom: 2px solid #ECECEC;
    margin-bottom: 98.99px;
}

.services__info{
    max-width: 539px;
}

.services__heading{
    margin: 0;
    margin-top: -12px;
    margin-left: 15px;
    margin-bottom: 33px;
    font-family: 'Open Sans' , sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: 0.99px;
    text-transform: uppercase; 
}
.services__about{
    margin: 0;
    margin-left: 16px;
    margin-bottom: 57px;
    font-family: 'Open Sans' , sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.services__items{
   display: flex;
   flex-wrap: wrap;
   justify-content: inherit;
   gap: 12px;
   width: 612px ;
}

.services__item{
    max-width: 270px;
    margin-left: 21px;
    margin-bottom: 16px;
}


.services__item_icon_man::before{
    content: '';
    display: block;
    max-width: 41px;
    min-height: 44px;
    background-image: url(../img/gear.svg);
    background-repeat: no-repeat;
    margin-bottom: 24px;
}

.services__item_icon_UX::before{
    content: '';
    display: block;
    max-width: 42px;
    min-height: 40px;
    background-image: url(../img/pencil.svg);
    background-repeat: no-repeat;
    margin-bottom: 33px;
    }

.services__item_icon_log::before{
    content: '';
    display: block;
    max-width: 40px;
    min-height: 40px;
    background-image: url(../img/diamond.svg);
    background-repeat: no-repeat;
    margin-bottom: 33px;
    }

.services__item_icon_Anim::before{
    content: '';
    display: block;
    max-width: 40px;
    min-height: 34.5px;
    background-image: url(../img/car.svg);
    background-repeat: no-repeat;
    margin-bottom: 33px;
    }

.services__title{
    margin: 0;
    margin-bottom: -10px;
    font-family: 'Open Sans' , sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
}

.services__text{
    font-family: 'Open Sans' , sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #000000;
}

/* Feature */
.feature{
    max-width: 1249px;
    margin: 0 auto;
    padding: 0 1vw;
    padding-bottom: 65px;

}

.feature__header{
    margin-bottom: 88px;
}

.feature__heading{
    margin: 0;
    margin-bottom: 14.5px;
    font-family: 'Open Sans' , sans-serif;
    font-size: 41.9876px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.3834px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
}

.feature__about{
    max-width: 537px;
    margin: 0 auto;
    margin-bottom: 26.5px;
    font-family: 'Open Sans' , sans-serif;
    font-size: 15.9953px;
    line-height: 28px;
    text-align: center;
}

.hor__line{
    max-width: 130px;
    min-height: 3px;
    background-color: #FF2D2D;
    border: none;
}

.hor__line_center{
    margin: 0 auto;
}

.hor__line-left{
    margin: 0;
}

.filter{
    max-width: 1224px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 58px;
    
}

.filter__list{
    list-style: none;
    margin: 0 ;
    margin-left: 89px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 58px;

}

.filter__link{
    font-family: 'Open Sans' , sans-serif;
    font-weight:600 ;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0.22px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;

}
.filter__link_active{
    color: #FF2D2D;
}

.filter__link:hover{
    color: #FF2D2D;
}

.feature__products{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1432px;
    gap: 15px;   
}

.feature__product{
    width: 297px;
    object-fit: cover;
    object-position: 0% 50%; 
    flex: 1 1;  
}

/* Team */

.team{
    max-width: 1249px;
    margin: 0 auto;
    padding: 0 1vw;
    padding-top: 65px;
    padding-bottom: 110px;
    text-align: left;
}

.team__header{
    margin-bottom: 67px;
}

.team__heading{
    font-family: 'Open Sans' , sans-serif;
    font-size: 41.9876px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 19px;
    text-transform: uppercase;
  
}

.team__about{
    font-family: 'Open Sans' , sans-serif;
    font-size: 15.9953px;
    max-width: 450px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 34px;
   
}

.team__mambers{
    display: flex;
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(2, auto);
    justify-content: space-between;
    align-items: end;
    column-gap: 1vw;

}

.team__lead-photo{
    object-position: bottom;
    object-fit: contain;
    background-color: #FF3F40;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.team__inner{
    display: flex;
    flex-direction: column;
}

.team__lead-main{
    max-width: 631px;
    grid-column: 2 /3;
    grid-row: 1 / 2;
    align-self: center;  
}

.team__lead-name{
    display: block;
    font-family: 'Open Sans' , sans-serif;
    font-size: 30.127px;
    font-weight: 600;
    letter-spacing: 0.275265px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 30px;
    color: #000000;
    }

.team__lead-about{
    font-family: 'Open Sans' , sans-serif;
    font-size: 15.9953px;
    line-height: 28px; 
    margin-bottom: 46px;
}

.team__lead-social{
    display: flex;
    flex-wrap: wrap;
    gap: 34px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 15px;
}

.team__leaf-link{
    color: #000000;
    font-family: 'Open Sans' , sans-serif;
    font-style: italic;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
}

.team__leaf-link:hover{
    text-decoration: underline;
}

.team__others{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    grid-column: 2 /3;
    grid-row: 2 / 3;
    align-items: center;
    justify-content: center;
}

.team__other{
    position: relative;
}

.team__other-photo{
    display: block;
    background-color: #FF3F40;
}

.team__other-name{
    display: none;
    color: #fff;
    font-family: 'Open Sans' , sans-serif;
    font-size: 18.0762px;
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px 0;
}

.team__other:hover> .team__other-name {
    display: block;
}

/* Sabscribe */

.subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1249px;
    margin: 0 auto;
    padding: 132px 151px 140px 140px; 
}

.subscribe__heading{
    color: #fff;
    font-family: 'Open Sans' , sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    padding: 7px 0 11px;
    letter-spacing: 0.75px;
}

.subscribe__about{
    color: #fff;
    font-family: 'Open Sans' , sans-serif;
    font-size: 15.9953px;
    line-height: 28px;
    margin: 0;
    padding-bottom: 53px;
}

.subscribe__form{
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    margin: 0px;
}

.subscribe__input{
    color: #2C2C2C;
    font-family: 'Open Sans' , sans-serif;
    font-size: 16px;
    line-height: 24px;
    width: 460px;
    height: 79px;
    padding: 0 36px ;
    border: none;
    border-radius: 5px;
    background-color: #fff;
}

.subscribe__button{
    font-family: 'Open Sans' , sans-serif;
    font-weight: bold;
    font-size: 17.9026px;
    line-height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 214px;
    height: 79px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #FF2D2D;
}

/* Feedbac */

.feedbac{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1vw;
    padding-top: 97px;
    padding-bottom: 107px;
}

.feedbac__header{
    max-width: 1249px;
    margin: 0  auto;
    margin-bottom: 77px;
}

.feedbac__inne{
    max-width: 752px;
}

.feedbac__heading{
    font-family: 'Open Sans' , sans-serif;
    font-size: 41.9876px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 35px;
    text-transform: uppercase;
}
.feedbac__about{
    display: flex;
    font-family: 'Open Sans' , sans-serif;
    font-size: 15.9953px;
    max-width: 753px;
    margin: 0 ;
    margin-bottom: 51px;
    line-height: 1.75;
}

.feedbac__body{
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 731px 107px 411px 1fr;
    row-gap: 107px;
    grid-template-rows: auto;
}

.feedbac__body::after{
    content: '';
    background-color: #2D2D2D;
    grid-column: 5 / 6 ;
} 

.feedbac__box_right{
    background-color: #2D2D2D;
}

.feedbac__form{
  width: 731px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  margin-right: 107px;
  grid-column: 2 / 3 ;
}

.feedbac__form input::placeholder,
.feedbac__form textarea::placeholder{
    color: #000000;
    font-family: 'Open Sans' , sans-serif;
    font-size: 15.9953px;
}

.feedbac__name{
    box-sizing: border-box;
    width: 339px;
    height: 69px;
    background-color: rgba(0,0,0,0.1);
    border: none;
    border-radius: 5px;
    padding-left: 54px;
    margin-right: 48px;
    margin-bottom: 44px;
    font-family: 'Open Sans' , sans-serif;
    font-size: 15.9134px;
}

.feedbac__email{
    box-sizing: border-box;
    width: 339px;
    height: 69px;
    background-color: rgba(0,0,0,0.1);
    border: none;
    border-radius: 5px;
    padding-left: 48px;
    margin-bottom: 44px;
    font-family: 'Open Sans' , sans-serif;
    font-size: 15.9134px;
}

.feedbac__button{
    
    text-transform: uppercase;
    width: 728px;
    height: 72px;
    border: none;
    border-radius: 5px;
    background-color: #FF3B3B;
    font-family: 'Open Sans' , sans-serif;
    font-size: 17.9026px;
    color: #fff;
}

.feedbac__textarea{
    box-sizing: border-box;
    resize: none;
    width: 731px;
    height: 251px;
    padding: 31px 51px;
    border: none;
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px;
    font-family: 'Open Sans' , sans-serif;
    font-size: 15.9134px; 
    margin-bottom: 45px;
}   

.feedbac__contacts{
    color: #fff;
    background-color: rgba(45, 45, 45, 1);
    grid-column: 4 / 5 ;
}

.contacts{
    width: 315px;
    padding: 112px 7px 141px 74px;
    justify-self: end;
}

.contacts__heading{
    text-transform: uppercase;
    font-family: 'Open Sans' , sans-serif;
    font-size: 17.9026px;
    font-weight: 700;
    line-height: 1.75;
    margin: 0;
    margin-bottom: 30px;
    color: #fff;
}

.contacts__address{
    font-family: 'Open Sans' , sans-serif;
    font-size: 17.9026px;
    line-height: 1.75;
    margin: 0;
    margin-bottom: 27px;
    color: #fff;
}

.contacts__email{
    display: block;
    color: #fff;
    font-family: 'Open Sans' , sans-serif;
    line-height: 1.75;
    margin: 0;
    margin-bottom: 20px;
}

.contacts__tel{
    display: block;
    font-family: 'Open Sans' , sans-serif;
    line-height: 1.75;
    margin: 0;
    color: #fff;
}


/* Futer */
.page__inner_dark-two{
    background-color: #313030;
}

.footer{
    max-width: 1249px;
    min-height: 111px;
    padding: 0 1vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright{
    margin: 0;
    margin-top: 23px;
    color: #B8B8B8;
}

.social{
    display: flex;
    margin-top: 23px;
    padding: 0 1vw;
    gap: 18px;
}

/* Js */

.hide{
    display: none;
}

/* Responsive */

@media screen and (max-width: 1270px) {
    .feedbac__body{
        grid-template-columns: 1fr auto 1fr;
        row-gap: 107px;
    }
    .feedbac__body::after{
        content: none;
    }
    .feedbac__form{
        width: 100%;
        grid-column: 2 / 3;
        margin-right: initial;
    }
    .feedbac__name{
        width: 100%;
        margin-right: initial;
    }
    .feedbac__email{
        width: 100%;
    }
    .feedbac__textarea{
        width: 100%;
    }
    .feedbac__button{
        width: 100%;
    }

    .feedbac__contacts{
        grid-column: 2 / 3 ;
    }
    .contacts{
        width: auto;
    }
    .contacts{
        width: auto;
        justify-self: normal;
    }
}
@media screen and (max-width: 1290px){
.contacts{
justify-self: unset;
}
}

@media screen and (max-width: 1210px){
    .intro__info {
        width: 50%;
    }
}

@media screen and (max-width: 1186px){
    .intro__video {
        width: 50%;
        background-color:  #F6F2F2;
    }
}

@media screen and (max-width: 1177px){
    .services__info{
        max-width: 100%;
    }
}

@media (max-width: 906px) {
    .stil-menu{
        margin: 0;
    }
    .stil-menu__list{
        margin: 0;
    }
}

@media screen and (max-width: 820px){
    .intro__info {
        width: 100%;
        margin: 0 auto;
    }
    .intro__video {
        width: 100%;
        margin: 0 auto;        
    }
    .filter__list{
        justify-content: center;
    }
    .action-link{ 
        margin: 0 auto;
        margin-bottom: 80px;
    }
    .team__mambers{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        justify-items: center;
        row-gap: 1em;
    }
    .team__lead-photo{
        grid-row: auto;
        max-width: 100%;
    }
    .team__lead-main{
        grid-column: 1 / 2;
        grid-row: auto;
    }
    .team__others{
        justify-content: center;
        grid-column: 1 / 2;
        grid-row: auto;
    }
    .stil-menu{
        margin-left: initial;
    }
    .stil-menu__list{
        justify-content: center;
    }
    .subscribe{
        padding: 0;
        padding-top: 140px;
        padding-bottom: 140px;
    }
    .subscribe__heading{
        padding-left: 56px;
        display: flex;
        text-align-last: center;
    }
}

@media screen and (max-width: 800px){
    .stil-menu{
        display: none;
    }
}

@media screen and (min-width: 800px){
    .popup-menu{
        display: none;
    }
}


@media screen and (max-width: 375px){
    .intro__info {
       width: 100%;
       
    }
    .intro__video {
        width: 100%;
     }
     
}

@media screen and (max-width: 280px){
    .intro__heading {
        font-size: 50px;
    }
}

@media screen and (max-width: 234px){
    .intro__heading {
        font-size: 29px;
    }
}

@supports(display: contents){
    .team__inner{
        display: contents;}
    }

@supports(grid-template-columns: subgrid){
    .team__inner{
        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        align-items: end;
    }
}

@supports(display: contents){
    .team__inner{
        display: contents;}
    }

@supports(grid-template-columns: subgrid){
    .team__inner{
        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        align-items: end;
    }
}

@media screen and (max-width: 552px){
    .subscribe__input{
        width: 100%;
    }
}


@media screen and (max-width: 820px) {
    .team__inner{
display: grid;
grid-template-columns: subgrid;
grid-template-rows: subgrid;
grid-column: 3 / 1;
grid-column-start: 3;
grid-column-end: 1;
grid-row: 4 / 2;
align-items: end;
}
}